.error {
    display: none;
    background-color: red;
    width: 99%;
    padding: 10px;
    color: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #800000;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}

.loginForm {
    width: 30%;
    float: right;
}

.logoutForm {
    width: 30%;
    float: right;
}

.content {
    margin-right: 3%;
    width: 67%;
}

@media screen and (max-width: 480px) {

    .loginForm {
        width: 95%;
        margin: 2%;
    }

    .logoutForm {
        width: 95%;
        margin: 2%;
        margin-bottom: 5%;
    }

    .content {
        margin: 2%;
        width: 95%;
    }
}
